@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


*{
    margin: 0;
    padding: 0;
}




body{
    background-color: rgb(145, 16, 16) ;
     color: rgb(145, 16, 16)
}

.cabeçalho{
 background-color: rgb(0  , 0  , 00);
 text-align: center;
padding: 30px;
font-family: "Nosifer", sans-serif;
}
img{
    width: 200px;
    height:200px;
}
main{
    color : rgb(255, 255, 255)
    max-width:800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display:flex;
    background-color:black
}
